.posit{
    display: flex;
    flex-direction: row;
    align-items:start;
    margin-left:30px;
    margin-right:30px

    /* margin-top: 150px; */
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.player1-btn{
   margin:50px ;
   background-color:chocolate;

} 

.player2-btn{   
   margin:50px;
   background-color:slateblue;

}

.player1-data{
    margin-right:auto;
    margin-bottom: 0;
}

.player2-data{
    margin-bottom: 0;
    margin-left:auto;
}
 
.ger{
   margin: 60px;
}

